<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Leaflet Dependencies-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
   <!-- D3 -->
    <!-- <script src=“https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js”></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="plotly-latest.min.js"></script> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <title>Homepage</title>
  </head>
  
  <body class="index">
    <div class="jumbotron">
      <h1 class="display-3">US Air Pollution</h1>
      <p class="lead"> Welcome to our website! With the pollution rates on the rise we decided to 
        examine the growth of the 5 Pollution causing gasses (NO2, O3, SO2, O3 and CO2) from 2000 to 2016 in US. 
        Further, we broke down this data by making meaning full graphs that helped us analyze the trends in the rise 
        of these gasses and which states have the highest rates of these gasses. 
      </p>
      <!--<hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">-->
      <hr>
        <a class="btn btn-primary" href="map" role="button">Pollution Map</a>
        <a class="btn btn-primary" href="bargraphs" role="button">Pollution Distribution</a>
        <a class="btn btn-primary" href="timeline" role="button">CO2 Timeline</a>
      </p>
    </div>
​
    <!-- Cards-->
  <div class="container2">
    <div class ="row">
      <div class = "col-xl-4">
        <div class="card mb-3">
          <h3 class="card-header">US Map</h3>
          <a href="map">
            <img style="height: 300px; width: 100%; display: block;" src="../static/images/map.png" alt="Card image">
          </a>
          <div class="card-body">
            <p class="card-text">Click to get a visual representation of each states Air Qualoty index for specified gases.</p>
          </div>
          <div class="card-body">
            <a href="map" class="card-link">Go to Page</a>
          </div>
        </div>
      </div> 
      <div class = "col-xl-4">
          <div class="card mb-3">
            <h3 class="card-header">US Air Pollution</h3>
            <a href="bargraphs">
              <img style="height: 300px; width: 100%; display: block;" src="../static/images/bar.png" alt="Card image">
            </a>
            <div class="card-body">
              <p class="card-text">This provide a more detailed look at the AQI of each state for different years.</p>
            </div>
            <div class="card-body">
              <a href="bargraphs" class="card-link">Go to Page</a>
            </div>
        </div>
      </div>
      <div class = "col-xl-4">
        <div class="card mb-3">
          <h3 class="card-header">Carbon Dioxide Timeline</h3>
          <a href="timeline">
            <img style="height: 300px; width: 100%; display: block;" src="../static/images/line.png" alt="Card image">
          </a>
          <div class="card-body">
            <p class="card-text">This provides information on the timeline of Carbon Dioxide levels for each state."</p>
          </div>
          <div class="card-body">
            <a href="timeline" class="card-link">Go to Page</a>
          </div>
        </div>
      </div> 
    </div>
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>