<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Leaflet Dependencies-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
   <!-- D3 -->
    <!-- <script src=“https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js”></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="plotly-latest.min.js"></script> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <title>CO2 Timeline</title>
  </head>
  
  <body class = Pages>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><h2>US Air Pollution</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="map">Pollution Map</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="bargraphs">Pollution Distribution</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="timeline">CO2 Timeline<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- vertical bar-->
    
    <nav class="nav navbar-expand-lg flex-sm-column">
      <div class="bubbleplot" data-num="0">
        <h3 style="padding-left: 5px;"> Filter </h3>
        <div class="form-group">
          <label style="text-align: center;" for="statedata">State</label>
          <select class="form-control" id="statedata"></select>
        </div>
        <hr style="width: 200%;">
        <p style="padding-left: 10px;">This chart contains Carbon Dioxide (CO2) Emissions for all 50 States from 1990 to 2016. Select the states you would like to view in the dropdown.</p>
      </div>
      <div>
        <hr>
        <p style="padding-left: 8px; font-style: italic; margin-bottom: 5px;">Air Quality Index Range Reference</p>
        <img src="../static/images/aqi-ref.png" style="width: 290px; height: 290px; padding-left: 7px;">
        <a href="https://www.epa.gov/outdoor-air-quality-data/air-data-basic-information">
          <p style="padding-left: 8px; font-style: italic; margin-bottom: 0; font-size: 10px;">Source: EPA</p>
        </a>
      </div>
    </nav>

    <!-- Content -->

      <div class="showcase__section" id="bubble">
        <div class="spacer --small"></div>
        <div id="bubbleplots">
          <div class="bubbleplot" data-num="0">
            <div class="plot" id="plotdiv"></div>
            </div>
          </div>
        </div>
      </div>
      

    <!-- API Key -->
    <script type="text/javascript" src="../static/js/config.js"></script> 

    <!-- JS -->
    <script type="text/javascript" src="../static/js/co2.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

